
<%- include("partials/header") %> 
<%- include("partials/navbar") %> 
  
    
       <div class="container text-center mt-5 ">
           <h1 class="display-1 font-monospace text-info">BOOK COFFEE</h1>
           <p class="lead fw-bolder text-muted">Where you can find so many books and articles!</p>
           <div class="container">
               <p class="lead mt-4">Feel free to add your fav books and tell us about your reviews  </p>

               <a href="/books" class="m-5 fw-bold text-success fs-4">BOOKS</a>
               <a href="/articles" class="m-5 fw-bold text-success fs-4">ARTICLES</a>
              
                   
        
           </div>
           <div class="container">
         
          </div>
           
          
       </div>






</body>
</html>